JARVIS_MICROSOFT_CLIENT_ID=
JARVIS_MICROSOFT_TENANT_ID=
JARVIS_MICROSOFT_CLIENT_SECRET=
JARVIS_MICROSOFT_REDIRECT_URI=http://localhost:8787/auth/microsoft/callback
JARVIS_MICROSOFT_TOKEN_PATH=/Users/chris/Desktop/CODE/JARVIS/data/microsoft_graph/token.json
JARVIS_MICROSOFT_AUTHORITY=common
